body {
    background-color: rgb(160, 130, 100);
    font-family: 'Times New Roman', Times, serif;
}



/* -------------header----------------- */

.dropbtn {
    background-color: #2980B9;
    color: white;
    height: 50px;
    width: 200px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #74099e;
}

.dropdown {
    position: relative;
    display: flex;
    justify-content: right;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #2980B9;
    min-width: 200px;
    border-radius: 5px;
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {color: white; background-color: #74099e}

.show {display:block;}

h1{
    background-color: #2980B9;
    color: white;
    font-family: 'Lugrasimo-Regular', serif;
    font-size: 3vw;
    font-weight: 900;
    text-align: center;
    letter-spacing: 3px;
    text-shadow: 3px 3px 5px rgb(0, 0, 0);
}

.imgBackground {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.img {
    filter: blur(0.7px);
    border-radius: 5px;
}

footer {
    background-color: #2980B9;
    position:fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Lugrasimo-Regular', serif;
    left:0px;
    bottom:0px;
    height:70px;
    width:100%;
}

.gh {
    border-radius: 10px;
}

